<% @ideas.each do |idea| %>
  <% div_for idea do %>
    <div class="idea_content">
      <%=h idea.content %>

      <div class="rating">
        <h2><%= idea.rating %></h2>
      </div>
  
      <div class="created">
        <%=h idea.created_at %>
      </div>      
    </div>

    <div class="links">
      <ul>
        <li>
          <%= link_to '+++', :id => idea, :action => "add_vote" %>
        </li>
        <li>
          <%= link_to '---', :id => idea, :action => "remove_vote" %>
        </li>
        <li>
          <%= link_to 'забыть', idea, :method => :delete, :confirm => "Удалить?" %>
        </li>
      </ul>
    </div>
  <% end %>
<% end %>

<div class="new_idea">
<% form_for :idea, @article, :url => { :action => "create" } do |f| %>
  <%= f.text_area :content, :size => "60x4" %><br/>
  <%= submit_tag "записать мысль" %>
<% end %>
</div>
